//WARNING!!!!!!!! This is a template file. Do not change it without necessity.
#pragma once
#include "Config.h"
#include "configFactory.h"
class %classname%Config : public Config{
public:
  %classname%Config();
  friend class configFactory;
  ~%classname%Config();
[getmas]
private:
[prop]};