<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="9">
<c class_id="0" tracking_level="0" version="0">
	<IP>127.0.0.1</IP>
	<KinectPort>6666</KinectPort>
	<CommandPort>6667</CommandPort>
	<compressionProfile>0</CompressionProfile>
	<ShowStatistics>0</ShowStatistics>
	<PointResolution>0.001</PointResolution>
	<OctreeResolution>0.01</OctreeResolution>
	<DoVoxelGridDownDownSampling>0</DoVoxelGridDownDownSampling>
	<IFrameRate>30</IFrameRate>
	<DoColorEncoding>0</DoColorEncoding>
	<ColorBitResolution>6</ColorBitResolution>
</c>
</boost_serialization>

